<div ng-controller='myAppHomeCtrl as homeCtrl'>

  <h1>home</h1>
  <!-- <react-component name="HelloComponent" props="person" watch-depth="reference"/> -->
  <br>
  <react-component name="Hello" props="person"/>
</div>
